<footer class="py-2">
    <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">© 2024 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="-mt-0.5 inline-block h-3.5 w-3.5">
        </svg> <a href="https://www.creative-tim.com" target="_blank" class="transition-colors hover:text-blue-500">Municipalidad de Los Olivos</a> 
      <ul class="flex items-center gap-4">
      </ul>
    </div>
  </footer>
